<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>SimpleServletExample</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>Simple Servlet for understanding</description>
		<display-name>SimpleServlet</display-name>
		<servlet-name>SimpleServlet</servlet-name>
		<servlet-class>org.cdac.com.SimpleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimpleServlet</servlet-name>
		<url-pattern>/SimpleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>xmlServlet</servlet-name>
		<servlet-class>org.cdac.com.XmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmlServlet</servlet-name>
		<url-pattern>/xmlurl</url-pattern>
	</servlet-mapping>
</web-app>